@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-large: 'Outfit', 'sans-serif';
  --font-medium-buttons: 'Urbanist', 'sans-serif';
  --font-small-nav-footer: 'Onest', 'sans-serif';
  --font-text: 'Oxygen', 'sans-serif';

  --color-main-light: #0d87a2;
  --color-main-dark: #076276;
  --color-dark: #383939;
  --color-light: #e0e3e3;
  --color-highlight: #6199a8;
  --color-highlight-extra: #b5d2c6;
  --color-dark-highlight: #044958;
}
